[Unit]
Description=pynoter server daemon
Requires=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/pyNoter server --debug --systemd

[Install]
WantedBy=default.target

