[Unit]
Description=pynoter server daemon
Requires=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/pyNoter --debug

[Install]
WantedBy=default.target

